/* Portrait */
@media (max-width: 400px) and (max-height: 640px) {

/*  div {
    	border: 3px solid white;
  }*/

  body {
  	font-family: Arial;
  	background-color: #4d4d4d;
  }

  .view-container {
  	width: 100%;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  }

  .program {
  	margin-right: 10px;
  	margin-left: 10px;
  }

  .program:hover .program-icon img {
  	opacity: 2.0;
  	filter: alpha(opacity=100);
  }

/*  .program:hover .program-title {
  	font-weight: 4000;
  }*/

  .program-icon {
  	margin-top: 10px;
  	text-align: center;
  }

  .program-icon img {
  	opacity: 0.7;
  	filter: alpha(opacity=40);
  	width: 90px;

  }

  .program-title {
		margin-bottom: 20px;
		font-weight: 200;
		text-align: center;
		color: white;
  }

/*  li {
		list-style: none;
  }*/

  .header {
  	height: 46px;
  	font-size: 28px;
  	color: white;
  	background-image: url('./assets/header-background.jpeg');
  }

  .header.dashboard {
		display: flex;
		align-items: center;
	  justify-content: center;
  }

  #back-button {
		font-size: 38px;
		display: flex;
		color: white;
    margin-left: 10px;

  }

  .dashboard-grid {
  	margin-top: 20px;
  	display: flex;
  	flex-flow: row;
  	flex-wrap: wrap;
  	justify-content: center;

  }

  .program {
  	flex: 0 0 40%;
    
  }

  .details-body {
    background-color: #4d4d4d;
    height: auto;
  }

  .program-icon-details {
  	text-align: center;
  }

  .program-icon-details img {
  	width: 80px;
  	margin-top: 10px;
  }

  .program-title-details {
  	text-align: center;
  	color: white;
  	font-size: 24px;
  }

  .program-description {
  	margin-top: 25px;
  	margin-bottom: 25px;
  	padding-left: 20px;
  	padding-right: 20px;
  	color: white;
  }

  .goals {
    color: white;
    padding-left: 20px;
    padding-right: 20px;

  }

  .goals-title {
  	text-align: center;
  	font-size: 20px;
  }


}

