<div class="view-container">
    <div class="header details">
    	<div>
    	  <a href="#!/" id="back-button"l><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    	</div>
    	<div id="title">
    	  <div>{{currProgram.title}}</div>
    	</div>
    </div>
    <div class="details-body">
	    <div class="program-icon-details">
	    	<img ng-src="{{currProgram.icon_url}}"/>
	    </div>
	    <div class="program-title-details">{{currProgram.title}}</div>
	    <div class="program-description">
		    <div>{{currProgram.description}}</div><br/>
			  <div>{{currProgram.incentive_description}}</div>
		    <div ng-if="currProgram.incentive_description == null">There are no rewards / earnings for this program at this point. Please check later :)</div>
		  </div>
		  <div class="goals">
			  <div class="goals-title">Goals <span>(Incentive Values)</span></div>
			  <div ng-if="hasGoals">
		  	  <ul class="fa-ul">
		  		  <li ng-repeat="goal in currGoals"><i class="fa-li fa fa-square"></i>{{goal.title}} <span>({{goal.incentive_value}})</span></li>
		  	  </ul>
		  	  <div>Total Incentive Value: <span>{{totalValue}}</span></div>
			  </div>
			  <div ng-if="hasGoals === false" class="noGoals-message">There are no goals at this point.</div>
		  </div>
    </div>
</div>